@import "compass/reset";
@import "compass/css3";

$dark	: #231F20;
$light	: #FFF;
$shadow	: rgba(0,0,0,0.2);

$font	: "MetaPro";

$default-transition-duration	: 0.2s;
$default-text-shadow-color		: rgba(0,0,0,0.6);
$default-text-shadow-blur		: 10px;
$default-text-shadow-h-offset	: 2px;
$default-text-shadow-v-offset	: 2px;

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font-family: $font;
	font-size: 100%;
	color: $light;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	width: 400px;
}

h2 {
	font-size: 1.8em;
	margin-top: 10px;
}

h3 {
	font-size: 1.8em;
	padding: 10px 0;
	text-align: right;
}

section {
	position: relative;
	width: 100%;
	// padding: 60px;
}

.about, .me {
	background-color: $dark;
}

.title {
	padding: 20px 0px;
	margin-left: 60px;
}

.contact {
	position: absolute;
	right: 60px;
	bottom: 20px;
}

.info {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $dark;
}

.me {

}

.pics {
	position: relative;
	width: 100%;
	height: 679px;
	background-color: #CCC;
}

.about {
	padding: 60px;

	.text {
		width: 50%;
		float: left;
		padding-right: 20px;

		h4 {
			font-size: 1.7em;
			font-weight: bold;
			border-bottom: 1px solid $light;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}

		p {
			font-size: 1.2em;
			line-height: 1.7em;
		}
	}

	.tile {
		width: 25%;
		height: 250px;
		float: left;
		padding: 10px;
		position: relative;
		cursor: pointer;

		.tile-inner {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
			background-color: #D1C6C6;
			color: $dark;
			@include border-radius(4px);
			border: 2px solid $light;

			img {
				width: 100%;
				position: relative;
			}

			p {
				font-size: 1.3em;
				padding: 20px;
				line-height: 1.2em;
			}

			.tile-meta {
				position: absolute;
				top: 100%;
				width: 100%;
				height: 100%;
				background-color: rgba(125,125,125,0.9);
				@include transition;
			}

			.tile-over {
				top: 0;
				@include transition;
			}
		}

		.recent-play {
			position: absolute;
			top: 0;
			color: white;
			font-size: 1.7em;
			margin: 10px;
			font-weight: bold;
			@include text-shadow;

			h4 {
				font-style: italic;
				font-weight: normal;
				font-size: .8em;
			}

			p {
				padding-top: 10px;
				line-height: 1em;
			}

			.by {
				font-weight: normal;
			}
		}
	}

	.tile:after {
		width: 0; 
		height: 0; 
		border-bottom: 64px solid $shadow; 
		border-left:   64px solid transparent;
		position: absolute;
		bottom: 11px;
		right: 11px;
		content: "";
	}

	.icon-container {
		width: 0; 
		height: 0; 
		border-bottom: 60px solid $light; 
		border-left: 60px solid transparent;
		position: absolute;
		z-index: 2;
		bottom: 11px;
		right: 11px;
	}

	.icon {
		width: 3.75em;
		height: 3.75em;
		position: absolute;
		left: -3.75em;
		background-image: url(../img/icons.svg);
		-webkit-background-size: 3.75em 18.75em;
		   -moz-background-size: 3.75em 18.75em;
			 -o-background-size: 3.75em 18.75em;
				background-size: 3.75em 18.75em;
		background-repeat: no-repeat;
	}

	.tumblr .icon {
		background-position: 0 -3.75em;
	}

	.twitter .icon {
		background-position: 0 -7.5em;
	}

	.rdio .icon {
		background-position: 0 -11.25em;
	}

	.strava .icon {
		background-position: 0 -15em;
	}

	.strava {
		width: 50%;
	}

	.holder {
		width: 100%;
		height: 100%;
		background-color: $light;
		@include border-radius(2px);
	}
}